.strategies {
  padding: 30px 0;

  @include media-tablet {
    padding: 50px 0;
    text-align: center;
  }

  @include media-mobile {
    padding: 63px 0 50px;
  }
}

.strategies__title {
  margin: 0 0 14px;
}

.strategies__description {
  margin: 0 0 24px;
}

.strategies__tags {
  margin-bottom: 31px;

  @include media-tablet {
    margin-bottom: 50px;
    justify-content: center;
  }

  @include media-mobile {
    margin-bottom: 31px;
  }
}

.block-shadowed {
  @extend %shadow;
}

.strategy-wrapper {
  > * {
    margin-bottom: 30px;

    @include media-tablet {
      flex-basis: 48%;
    }

    @include media-mobile {
      flex-basis: 100%;
    }
  }
}

// strategy

.strategy {
  width: 377px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &_hidden {
    display: none;
  }

  @include media-tablet {
    overflow: hidden;
  }
}

.strategy-image__container {
  width: 377px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;

  @include media-tablet {
    width: 322px;
    height: 171px;
  }

  @include media-mobile {
    width: 333px;
  }
}

.strategy__content {
  flex-grow: 1;
  padding: 24px 34px 26px;
  display: flex;
  flex-direction: column;
}

.strategy__name {
  flex-grow: 1;
  margin: 0 0 29px;
  text-align: left;
}

.strategy-modal__content {

  .modal-image__container {
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    height: 360px;

    @include media-mobile {
      height: 200px;
    }
  }

  .strategy__content {
    padding: 25px 40px 40px;

    @include media-mobile {
      padding: 30px;
    }
  }

  .strategy__date {
    margin: 0 0 5px;
    @include font ($size: 1.3rem, $weight: 400);
  }

  .strategy__name {
    margin: 0 0 10px;
  }

  .strategy__text {
    margin: 0 0 12px;
  }
}